SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=erp.pollyanasdolce.com,localhost
DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db
REDIS_URL=redis://localhost:6379/0
STATIC_ROOT=/app/staticfiles
OPENAI_API_KEY=
